<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <title>Document</title>
</head>
<body>
  <h1>Lista de productos</h1>
  <% data %>
  <div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i<data.length; i++) {%>
          <tr>
            <td><%= data[i].nombre%></td>
            <td><%= data[i].descripcion%></td>
            <td><%= data[i].precio%></td>
            <td><%= data[i].stock%></td>
            <td>
              <a href="/edit/<%=data[i].id%>">Editar</a>
              
              <form action="/delete/<%=data[i].id%>" method="post">
                <button>Eliminar</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
  </div>
  <div>
    <a href="/register">Crear nuevo registro</a>
  </div>
</body>
</html>